@import "https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap";

@import "./styles/resets.scss";
@import "./styles/variables.scss";
@import "./styles/test.scss";
@import "./styles/root.scss";
@import "./styles/profile.scss";
@import "./styles/login.scss";
@import "./styles/search.scss";
@import "./styles/components/post.scss";
@import "./styles/components/poster.scss";

body {
  background: #f0f2f5;
}

.alert-master {
  position: absolute;
  left: 40px;
  bottom: 35px;
  z-index: 5;
}
