.root {
  .profile {
    > .user-profile-container {
      .user-images {
        position: relative;
        margin-bottom: 60px;
        .profile-cover {
          width: 100%;
          height: calc(5vw + 160px);
          min-height: 200px;
          max-height: 275px;
          object-fit: cover;
        }
        .avatar {
          position: absolute;
          top: calc(100% - 60px);
          left: 20px;
          width: 120px;
          height: 120px;
          border: 3px solid map-get($background, primary);
        }
        .edit-profile {
          position: absolute;
          top: calc(100% + 20px);
          right: 30px;
          z-index: 1;
        }
      }
      .user-details {
        position: relative;
        left: 20px;
        .name {
          font-weight: bold;
        }
        .woodwork-type {
          font-weight: bold;
        }
      }
    }
    > .main-content {
      .detail-section {
        padding: 25px 20px;

        .field-container {
          display: flex;
          background: map-get($background, primary);
          padding: 18px 0;
          &:not(:last-child) {
            border-bottom: 1px solid map-get($borderColor, primary);
          }
          .label {
            font-size: 16px;
            font-weight: bold;
            color: #849099;
            width: 125px;
            margin-right: 30px;
          }
          .value {
            width: 100%;
            font-size: 16px;
            color: map-get($text, primary);
          }
        }
      }
    }
  }
}
.profile-modals {
  .edit-profile-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: auto;
    width: 600px;
    height: 90%;
    max-height: 750px;
    background: map-get($background, primary);
    border-radius: 8px;
    .header-container {
      position: sticky;
      top: 0;
      display: flex;
      align-items: center;
      padding: 8px 8px 0 8px;
      gap: 15px;
      margin-bottom: 10px;
      background: map-get($background, primary);
      z-index: 2;
      .icon-container {
        .icon {
        }
      }
      .name {
        font-weight: bold;
      }
      .button {
        position: absolute;
        right: 20px;
        text-transform: none;
        font-weight: bold;
        border-radius: 50px;
        height: 30px;
        width: 80px;
      }
    }
    .images-container {
      position: relative;
      width: 100%;
      height: 200px;
      margin-bottom: 85px;
      .cover {
        width: inherit;
        height: inherit;
      }
      .avatar-container {
        position: absolute;
        top: calc(100% - 60px);
        left: 20px;
        width: 120px;
        height: 120px;
        .avatar {
          width: inherit;
          height: inherit;
          border: 3px solid map-get($background, primary);
        }
        .icon-container {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          display: flex;
          align-items: center;
          width: inherit;
          height: inherit;
          .pfp-label {
            width: inherit;

            &:hover {
              cursor: pointer;
            }
            .icon {
              color: "#fff";
              &:hover {
                cursor: pointer;
              }
            }
          }
        }
      }
      .cover-icon-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        border-radius: none;
        .cover-label {
          width: 100%;
          height: 100%;
          &:hover {
            cursor: pointer;
          }
          .icon {
            color: "#fff";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
    .input-container {
      display: flex;
      flex-direction: column;
      gap: 15px;
      padding: 8px 20px;
      margin-bottom: 45px;
      overflow-y: auto;
    }
  }
}
