.root {
  display: grid;
  grid-template-columns: 275px minmax(500px, 1fr) 365px;
  grid-template-rows: 1fr;
  max-width: map-get($breakpoints, xl);

  min-height: 100vh;
  padding: 0 75px;
  margin: auto;

  nav {
    grid-column: 1/2;
    grid-row: 1/2;
    max-height: 100vh;
  }
  main {
    grid-column: 2/3;
    grid-row: 1/2;
    border-right: 1px solid map-get($borderColor, primary);
    border-left: 1px solid map-get($borderColor, primary);
    margin: 0 45px;
  }
  section {
    grid-column: 3/4;
    grid-row: 1/2;
    max-height: 100vh;
  }
}

.root {
  section {
    position: sticky;
    top: 0;
    margin-top: 12px;
    .search-bar {
      position: relative;
      border-radius: 100%;
      position: sticky;
      ::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
    .trends-container,
    .suggested-account-container {
      width: 100%;
      margin-top: 25px;
      border-radius: 12px;
      background: map-get($background, primary);
      border: 1px solid map-get($borderColor, primary);
      .avatar {
        display: inline-block;
        margin-right: 10px;
        width: 50px;
        height: 50px;
      }
      .body1 {
        font-size: 15px;
        font-weight: bold;
      }
      .subtitle {
        font-size: 13px;
      }
    }
  }
  nav {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .logo {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      display: block;
      width: 175px;
      height: 175px;
      margin-top: -17px;
    }
    .nav-container {
      margin-top: 25px;
      .MuiTypography-body1 {
        font-size: 20px;
        // font-weight: bold;
        color: map-get($text, secondary);
      }
      .MuiSvgIcon-root {
        margin-right: 15px;
        width: 28px;
        height: 28px;
        color: map-get($pallete, tertiary);
      }
      .nav-item {
        width: fit-content;
        border-radius: 25px;
        padding: 13px 23px;
      }
    }
    .button {
      margin-top: 18px;
      padding: 8px 0;
      border-radius: 25px;
      font-weight: bold;
      height: 48px;
      text-transform: none;
      color: #fff;
    }
    .avatar-nav-container {
      position: fixed;
      bottom: 25px;
      border-radius: 50px;
      width: 270px;
      margin: inherit;
      .pop-up {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: absolute;
        left: calc(50% + 36px);
        transform: translateX(calc(-50% - 36px));
        bottom: calc(100% + 7px + 3px);
        padding: 0;
        width: calc(100% + 36px);
      }
      .pop-up-fix {
        position: absolute;
        width: 10px;
        height: 10px;
        bottom: calc(100% + 3px);
        left: calc(50%);
        transform: translateX(calc(-50%));
        width: 0;
        height: 0;
        border-left: 5px solid transparent; /* Left side of the triangle */
        border-right: 5px solid transparent; /* Right side of the triangle */
        border-top: 10px solid red; /* Top side of the triangle, this is the color of the triangle */
        z-index: 15;
      }
      .MuiPaper-root {
        padding: 18px 30px;
        width: 100%;
        height: 100%;
        border-radius: 15px;
        // border: 2px solid red;
      }
      .logout-icon {
        z-index: 10;
        position: absolute;
        right: 30px;
      }
    }
  }
  .home {
    position: relative;
    .MuiTabs-root {
      position: sticky;
      top: 0;
    }
  }
}

.root-modals {
  .comment-modal {
    overflow-y: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 90%;
    max-width: 600px;
    // padding-bottom: 85px;
    .header-container {
      position: sticky;
      background: #fff;
      z-index: 2;
      top: 0;
      border-bottom: 1px solid map-get($borderColor, primary);
      .header {
        padding: 18px 0;
        font-weight: bolder;
        text-align: center;
      }
      .close-modal-group {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 25px;
        display: inline;
        width: 42px;
        height: 42px;
        border-radius: 100%;

        .icon {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 25px;
          height: 25px;
          border-radius: 100%;
        }
      }
    }
    .user-comment {
      display: flex;
      gap: 15px;
      position: sticky;
      bottom: 0;
      width: 100%;
      border-top: 1px solid map-get($borderColor, secondary);
      padding: 18px;
      .avatar {
        width: 50px;
        height: 50px;
        border: 1px solid map-get($pallete, primary);
      }
      .input {
        background: map-get($background, tertiary);
        border-radius: 8px;
      }
      .icon-container {
        position: absolute;
        aspect-ratio: 1/1;
        padding: 17px;
        bottom: 22px;
        right: 25px;
        border-radius: 100%;
        .icon {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 20px;
          height: 20px;
        }
      }
    }
    .comment-list {
      // height: calc(668px - 182px);
      padding: 25px 35px;
      .comment {
        position: relative;
        display: flex;
        gap: 15px;
        margin-bottom: 35px;
        .avatar {
        }
        .comment-details {
          background: map-get($background, tertiary);
          border-radius: 8px;
          padding: 15px 20px;
          .username {
            font-weight: bold;
            font-size: 13px;
          }
          .context {
            font-size: 15px;
          }
          .date {
            position: absolute;
            bottom: -20px;
            font-size: 13px;
          }
        }
      }
    }
  }
  .post-modal {
    overflow-y: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 75%;
    height: 600px;
    // max-height: 650px;
    padding: 0px 25px;
    // min-height: 650px;
    background-color: #fff;
    border-radius: 12px;

    .header-container {
      position: sticky;
      .header {
        padding: 18px 0;

        font-weight: bold;
        text-align: center;
      }
      .icon-container {
        position: absolute;
        display: flex;
        justify-content: center;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 42px;
        height: 42px;
        border-radius: 100%;
        .icon {
          width: 25px;
          height: 25px;
        }
      }
    }
    .user-info {
      display: flex;
      gap: 15px;

      .name {
        font-size: 14px;
        font-weight: bold;
      }
    }
    .textField-container {
      position: relative;
      width: calc(100% + 20px);
      margin: 0 -10px;
      margin-top: 25px;
      max-height: calc(100% - 325px);
      overflow-y: auto;
      .textField {
        max-width: 100%;
      }
      border-radius: 8px;
      background: map-get($background, secondary);

      &:hover {
      }
      .textField {
      }
    }
    .image-icon-container {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 2px;
      width: 35px;
      height: 35px;
      border-radius: 100%;

      &:hover {
        background: map-get($background, tertiary);
        cursor: pointer;
      }
      .icon {
        color: map-get($text, secondary);
        width: 18px;
        height: 18px;
      }
    }

    .image-input-container {
      margin-left: -10px;
      margin-top: 5px;
      display: flex;
      gap: 10px;
      justify-content: flex-start;
      width: calc(100% + 20px);
      overflow-x: auto;
      padding: 8px 0;
      .image-attach {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 85px;
        height: 85px;
        border: 1px solid map-get($borderColor, primary);
        border-radius: 8px;
        background-color: map-get($background, secondary);
        // .tooltip {
        //   width: 100%;
        //   height: 100%;
        // }
        .add-image {
          color: map-get($text, primary);
        }
        &:hover {
          cursor: pointer;
          background: #dadfe0;
        }
      }
      .image-group {
        position: relative;
        width: 85px;
        height: 85px;

        .image {
          border: 1px solid map-get($borderColor, primary);
          width: inherit;
          height: inherit;
          object-fit: cover;
          border-radius: 8px;
        }
        .icon-container {
          position: absolute;
          right: -8px;
          top: -8px;
          background: map-get($background, tertiary);
          width: 25px;
          height: 25px;
          .icon {
            width: 15px;
            height: 15px;
          }
        }
      }
    }
    .button {
      position: absolute;
      background: map-get($pallete, secondary);
      width: calc(100% - 50px);
      left: 25px;
      bottom: 25px;
    }
  }
}
